#button1{
    color: brown;
    background-color: chartreuse;
    font-size: 20px;
}
body{
    text-align: center;
    background-color: gray;
    color: palevioletred;
    font-size: 30px;
}
#button2{
    color: brown;
    background-color: chartreuse;
    font-size: 20px;
}#button3{
    color: brown;
    background-color: chartreuse;
    font-size: 20px;
}#button4{
    color: brown;
    background-color: chartreuse;
    font-size: 20px;
}#button5{
    color: brown;
    background-color: chartreuse;
    font-size: 20px;
}#button6{
    color: brown;
    background-color: chartreuse;
    font-size: 20px;
}#button7{
    color: brown;
    background-color: chartreuse;
    font-size: 20px;
}#button8{
    color: brown;
    background-color: chartreuse;
    font-size: 20px;
}#button9{
    color: brown;
    background-color: chartreuse;
    font-size: 20px;
}